@keyframes scale {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@keyframes sparks {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.like-icon.is-liked .heart {
    animation: scale 0.1s 0.3s ease-in;
}

.like-icon.is-liked .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.05s 0.3s ease;
}

.like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.06s 0.3s ease;
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in;
}

.like-icon .core, 
.main-body {
    fill: none;
}

.like-icon .contour {
    fill: var(--contour-color);
}
