:root {
    --pattern-to-right: repeating-linear-gradient(
        to right,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    );
    --pattern-to-bottom: repeating-linear-gradient(
        to bottom,
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    );
    --gradient-to-bottom: linear-gradient(
        to bottom,
        #e7e7e7 0%,
        #e7e7e7 0.01%,
        #1a1a1a 100%
    );
    --basic-font-family: 'Inter-Variable', sans-serif;
    --basic-normal-font-weight: 400;
    --basic-bold-font-weight: 785;
    --accent-font-family: 'PressStart2P-Regular', sans-serif;
    --main-color: #000;
    --blocks-color: #fff;
    --block-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
    --contour-color: #000;
    --animation-fill-color: #FF0000;
}
